*
{
    /* outline: 1.5px solid purple; */
}

body
{
    margin: 0.5rem;
    padding: 1rem;
    color: hsl(0, 0%, 0%);
    background: hsl(0, 0%, 90%);
}

.home-card {
    background: hsl(0, 0%, 99%);
    padding: 0.5rem;

    width: 70%;
    margin: 0 auto;

    text-align: center;
    justify-items: center;
}

h1 {
    color: hsl(0, 100%, 40%);
    margin-bottom: 0;
}

ul {
    padding: 0.5rem;
}

ul li{
    list-style: none;
}

a
{
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 0%);

    margin: 10px auto;
    padding: 1rem;
    background: hsl(0, 0%, 95%);
}

a:hover {
    background: hsl(0, 0%, 90%);
}

